body {
    background-image: url("./images/boston-fern-unsplash.jpg");
    background-size: cover;
    background-position: top no-repeat;
    font-family:monospace;
    color:rgb(143, 164, 204)
}

div.topnav {
    font-family: monospace;
    font-size: 20px;
    text-align: right;
    margin-right: 5%;
}

.topnav a {
    float: right;
    padding: 10px 16px;
    color:rgb(143, 164, 204);
}

.topnav a:hover {
    background-color: #000;
}

.topnav a.active {
    color:white;
}

div.intro {
    position: absolute;
    left: 20%;
    top: 35%;
}

h1 {
    font-size: 50px;
    font-weight: 600;
    font-style: oblique;
}

p {
    font-size:xx-large;
}