body {
    background-image: url("./images/boston-fern-unsplash.jpg");
    background-size: cover;
    background-position: top no-repeat;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(143, 164, 204)
}